@model News

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="padding-top:120px">
    <h1>Details</h1>

    <div>
        <h4>News</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <img src="~/assets/img/gallery/@Model.Image" width="150" height="150" class="img-thumbnail" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Topic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Topic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
