@model PaginatedList<News>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="padding-top:120px">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="Index" asp-controller="News" method="get">
        <input type="text" name="searchNews" placeholder="Search By Title Or Category Name " style="width:300px" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-warning" /> |
        <a asp-action="Index">Get All News</a>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-controller="News" asp-route-sortOrder="@ViewData["Title"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
                </th>
                <th>
                    Date
                </th>
                <th>
                    Image
                </th>
                <th>
                    Topic
                </th>
                <th>
                    <a asp-action="Index" asp-controller="News" asp-route-sortOrder="@ViewData["CategoryName"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <img src="~/assets/img/gallery/@item.Image" width="150" height="150" class="img-thumbnail" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
    }

    <a asp-action="Index" asp-controller="News"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index" asp-controller="News"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
